/* Charte Graphique

 bleu foncé: #0065FC 
 bleu clair: #DEEBFF
 gris: #F2F2F2

 font-family: 'Raleway', sans-serif;
 */

body {
  font-family: "Raleway", sans-serif;
  background: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* Header */
header {
  height: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: 40px;
}

.navbar {
  margin-left: auto !important;
  flex-direction: row;
  display: flex;
}

.btn-1 {
  background: none;
  color: #000000;
  margin-right: 80px;
  border: none;
  height: 100px;
  outline: none;
  font-size: 15px;
  border-top: solid #ffffff;
  cursor: pointer;
}

.btn-2 {
  background: none;
  color: #0065fc;
  border: none;
  height: 100px;
  font-weight: 600;
  outline: none;
  font-size: 15px;
  border-top: solid #ffffff;
  cursor: pointer;
}

.btn-1:hover,
.btn-2:hover {
  border-top: solid #0065fc;
  color: #0065fc;
}

/* Search */

.search {
  height: 170px;
  margin-bottom: 20px;
}

.text-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

.fa-map-marker-alt {
  width: 40px;
  border-radius: 15px 0px 0px 15px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.form-control {
  width: 200px;
  font-weight: 600;
  font-size: 15px;
  padding-left: 10px;
  border: 1px solid #f2f2f2;
}

.form-control::placeholder {
  font-weight: 600;
}

.btn-outline-success {
  background: #0065fc;
  color: #ffffff;
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-size: 15px;
  padding-right: 15px;
  font-weight: 400;
  cursor: pointer;
}
.btn-outline-success:hover {
  background: #0065fc;
  transition: 0.5s;
  box-shadow: 2px 2px 0 #7a7a7ab4;
}

.hidden_xl {
  display: none;
}

/* Filtres */

.filtres {
  height: 150px;
  margin-bottom: 20px;
}

.filtres-row1 {
  height: 70%;
  flex-direction: row;
}

.filtres-row1 h2 {
  margin-right: 30px;
  margin-top: 0;
}

.btn-filtres {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.btn-filtres1 {
  height: 40px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  padding: 0;
  padding-right: 15px;
  border: solid 0.5px #7a7a7a42;
  border-radius: 20px 20px 20px 20px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-filtres1:hover {
  transition: 0.5s;
  box-shadow: 2px 2px 0 #7a7a7ab4;
}
.icon-bg i {
  color: #0065fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-bg {
  background-color: #deebff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  position: relative;
}

.filtres-row2 p {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.filtres-row2 i {
  color: #0065fc;
  margin-right: 20px;
  border: solid 1px #7a7a7ab4;
  border-radius: 50%;
  width: 10px;
  height: 20px;
  padding: 4px 7px 0 9px;
}

/* Hebergements */

.hebergements {
  display: flex;
  height: 780px;
  margin-bottom: 40px;
}

.fa-star {
  color: #0065fc;
}
.fa-star-grey {
  color: #7a7a7ab4;
}

.hebergements-col1 img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 50%;
  height: 150px;
}

.hebergements .etoiles,
.p,
.h3 {
  padding-left: 3%;
  margin: 3% 0 3% 0;
}

.hebergements-col1 {
  padding: 20px 40px 20px 40px;
  align-items: flex-start;
  background-color: #f2f2f2;
  width: 68%;
  margin-right: 3%;
  border: solid 0.5px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
}

.hebergements-col1-row1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.hebergements-col1-row1-bloc1,
.hebergements-col1-row1-bloc2,
.hebergements-col1-row1-bloc3 {
  width: 30%;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  padding: 1%;
  cursor: pointer;
}

.hebergements-col1-row2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.hebergements-col1-row2-bloc1,
.hebergements-col1-row2-bloc2,
.hebergements-col1-row2-bloc3 {
  width: 30%;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  padding: 1%;
  cursor: pointer;
}

.afficherplus {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.hebergements-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  background-color: #f2f2f2;
  width: 29%;
  border: solid 0.5px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
}

.hebergements-col2 img {
  width: 40%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  object-position: 50% 50%;
  height: 150px;
}

.fas.fa-chart-line {
  margin-left: 5%;
}

.hebergements-col2 h2 {
  display: flex;
  justify-content: space-between;
}

.hebergements-col2-bloc1,
.hebergements-col2-bloc2,
.hebergements-col2-bloc3 {
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  padding: 1%;
  display: flex;
  cursor: pointer;
}

.hebergements-col2-bloc2,
.hebergements-col2-bloc3 {
  margin-top: 30px;
}

.hebergements-col2-texte {
  padding-left: 20px;
}

/* Activités */

.activites {
  height: 600px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 150px;
}
.activites h2 {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}
.activites h3 {
  padding-left: 5%;
}
.activites-vignette {
  display: flex;
}

.activites-col2 img,
.activites-col4 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 50%;
}

.activites-col4 img {
  height: 250px;
}
.activites-col2-act1 img {
  height:350px;
}
.activites-col2-act2 img {
  height:150px;
}

.activites-col1 img,
.activites-col3 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 50% 50%;
  height: max-content;
  height: 600px;
}

.activites-col1,
.activites-col2,
.activites-col3,
.activites-col4 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  flex-direction: column;
}

.activites-col1,
.activites-col2-act1,
.activites-col2-act2,
.activites-col3,
.activites-col4-act1,
.activites-col4-act2 {
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.1);
  cursor: pointer;
}


.activites-col1, .activites-col2, .activites-col3 {
  margin-right: 30px;
}

/* Footer */

.footer {
  display: flex;
  height: 150px;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding-top: 20px;
  margin-left: -50px;
  margin-right: -50px;
}

.footer p {
  cursor: pointer;
}

/* Responsive design */

@media screen and (max-width: 420px) {
  .hidden_xs {
    display: none;
  }
  .hidden_xl {
    display: flex;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bloc1-header-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-top: 0;
  }
  .btn-2 {
    display: flex;
    width: 50%;
    padding-top: 40px;
    justify-content: right;
    border-top: none;
  }
  .btn-2:hover {
    border-top: none;
  }
  .bloc2-header-mobile {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  .btn-1 {
    display: flex;
    width: 50%;
    height: 50px;
    padding-top: 20px;
    justify-content: center;
    margin-right: 0;
    border-bottom: solid #f2f2f2;
    border-top: none;
  }

  .btn-1:hover {
    border-bottom: solid #0065fc;
    color: #0065fc;
    border-top: none;
  }

  .fa-search {
    width: 19px;
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
  }

  .fa-map-marker-alt {
    width: 40px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
  }

  .btn-outline-success {
    border-radius: 15px 15px 15px 15px;
    margin-left: -15px;
    position:relative;
    width:40px;
  }

  .btn-outline-success i {
    position:absolute;
    top:33%
  }

  .filtres {
    height: 270px;
  }

  .filtres-row1 {
    height: 80%;
  }

  .btn-filtres1 {
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .hebergements {
    display: block;
    margin-left: -20px;
    margin-right: -18px;
    height: auto;
  }

  .hebergements-col2 {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }

  .hebergements-col2 h2 {
    padding: 0 15px 0 15px;
  }

  .hebergements-col2-bloc1,
  .hebergements-col2-bloc2 {
    margin: 5px 12px 5px 12px;
  }

  .hebergements-col1 {
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-right: 0;
    border: none;
  }

  .hebergements-col1 img {
    height: 130px;
  }

  .hebergements-col1 h2,
  p,
  h3 {
    padding: 0 15px 0 15px;
  }
  .hebergements-col1-row1 {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .hebergements-col1-row2 {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .hebergements-col1-row1-bloc1,
  .hebergements-col1-row1-bloc2,
  .hebergements-col1-row1-bloc3,
  .hebergements-col1-row2-bloc1,
  .hebergements-col1-row2-bloc2,
  .hebergements-col1-row2-bloc3 {
    width: 92%;
    box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.1);
    margin: 5px 12px 5px 12px;
  }

  .activites {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    height: 1200px;
  }

  .activites img {
    height: 75%;
  }

  .activites-vignette {
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    display: flex;
  }

  .activites-col1,
  .activites-col2,
  .activites-col3,
  .activites-col4 {
    width: 100%;
  }

  .activites-col1,
  .activites-col2-act1,
  .activites-col2-act2,
  .activites-col3,
  .activites-col4-act1,
  .activites-col4-act2 {
    width: 100%;
    height: 200px;
  }

  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
    height: 400px;
    flex-direction: column;
  }

  .a-propos,
  .nos-hebergements,
  .assistance {
    padding-left: 20px;
  }
}

@media screen and (min-width: 420px) and (max-width: 1050px) {
  .hidden_xs {
    display: none;
  }
  .hidden_xl {
    display: flex;
  }

  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bloc1-header-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-top: 0;
  }
  .btn-2 {
    display: flex;
    width: 50%;
    padding-top: 40px;
    justify-content: right;
    border-top: none;
  }
  .btn-2:hover {
    border-top: none;
  }
  .bloc2-header-mobile {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  .btn-1 {
    display: flex;
    width: 50%;
    height: 50px;
    padding-top: 20px;
    justify-content: center;
    margin-right: 0;
    border-bottom: solid #f2f2f2;
    border-top: none;
  }

  .btn-1:hover {
    border-bottom: solid #0065fc;
    color: #0065fc;
    border-top: none;
  }
  .fa-search {
    width: 19px;
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
  }

  .fa-map-marker-alt {
    width: 40px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
  }

  .btn-outline-success {
    border-radius: 15px 15px 15px 15px;
    margin-left: -15px;
    position:relative;
    width:40px;
  }
  .btn-outline-success i {
    position:absolute;
    top:33%
  }

  .filtres {
    height: 180px;
  }

  .filtres-row1 {
    height: 70%;
  }

  .filtres-row2 {
    margin-top: 20px;
  }

  .btn-filtres1 {
    margin-bottom: 15px;
    margin-right: 10px;
  }

  .hebergements {
    display: block;
    margin-left: -20px;
    margin-right: -18px;
    height: auto;
  }

  .hebergements-col2 {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }

  .hebergements-col2 h2 {
    padding: 0 15px 0 15px;
  }

  .hebergements-col2-bloc1,
  .hebergements-col2-bloc2 {
    margin: 5px 12px 5px 12px;
  }

  .hebergements-col1 {
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-right: 0;
    border: none;
  }

  .hebergements-col1 img {
    height: 130px;
  }

  .hebergements-col1 h2,
  p,
  h3 {
    padding: 0 15px 0 15px;
  }
  .hebergements-col1-row1 {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .hebergements-col1-row2 {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .hebergements-col1-row1-bloc1,
  .hebergements-col1-row1-bloc2,
  .hebergements-col1-row1-bloc3,
  .hebergements-col1-row2-bloc1,
  .hebergements-col1-row2-bloc2,
  .hebergements-col1-row2-bloc3 {
    width: 92%;
    box-shadow: 2px 2px 2px 2px rgba(138, 138, 138, 0.1);
    margin: 5px 12px 5px 12px;
  }

  .activites {
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    height: 1200px;
  }

  .activites img {
    height: 75%;
  }

  .activites-vignette {
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    display: flex;
  }

  .activites-col1,
  .activites-col2,
  .activites-col3,
  .activites-col4 {
    width: 100%;
    align-content: center;
  }

  .activites-col1,
  .activites-col2-act1,
  .activites-col2-act2,
  .activites-col3,
  .activites-col4-act1,
  .activites-col4-act2 {
    width: 100%;
    height: 200px;
  }

  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
    height: auto;
  }

  .a-propos,
  .nos-hebergements,
  .assistance {
    padding-left: 20px;
  }
}
